@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #ffffff;
  --bpurple: #800080;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  
  font-family: "cofo-sans-mono-variable", sans-serif;
  font-variation-settings: "wght" 400;
}

button {
  @apply cursor-pointer;
  padding-left: 3px;
  padding-right: 3px;
}

button:hover {
  color: blue;
}

.app-button {
  font-size: 35px;
}

.window {
  @apply border-2 border-gray-200 bg-black;
  box-shadow: 6px 6px 0 0 #00000040;
}

.app-link {
  @apply border-2 p-1;
}

.app-link:active {
  color: blue;
}