@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    font-family: "cofo-sans-mono-variable", sans-serif;
    font-variation-settings: "wght" 400;
}

h1 {
  font-size: 30px;
}
